<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="SGSApp" path="\*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python36\python.exe|D:\logistics\django-import-export\tests\manage.py fcgi --pythonpath D:\logistics\django-import-export\tests --settings" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
